body {
    background-color: rgb(188, 168, 144);
}

h1 {
    text-align: center;
}

#content{
    max-width: 50%;
    margin: 50px auto;
    /* padding: 10px; */
}

#top-functions{
    width: 50%;
    margin: auto;
}

#to-do,
#done{
    margin-top: 20px;
    border-bottom: 5px dotted  rgb(162, 142, 117);
}

h3, h1{
    color: rgb(83, 69, 52);
}
