body {
    background-color: rgb(188, 168, 144);
}

#content{
    max-width: 50%;
    margin: 50px auto;
}

#to-do,
#done{
    margin-top: 20px;
    border-bottom: 5px dotted  rgb(162, 142, 117);
}

h3, h1{
    color: rgb(83, 69, 52);
}

button:hover{
    background-color: rgb(208, 207, 207);
}
