body {
    background-color: rgb(188, 168, 144);
}

#content{
    max-width: 50%;
    margin: 50px auto;
}

h1,
h3{
    font-family: "Dosis", sans-serif;
}

h1,
#top-functions,
#to-do{
    margin-bottom: 50px;
}

#add-chore,
#add-chore-btn{
    margin-right: 20px;
}

#to-do,
#done{
    border-bottom: 5px dotted  rgb(162, 142, 117);
}

h3, h1{
    color: rgb(83, 69, 52);
}

h3{
    margin-bottom: 30px;
}

button:hover{
    background-color: rgb(208, 207, 207);
}

li{
    margin-bottom: 20px;
}
